.example-spacer {
  flex: 1 1 auto;
}

.toolbar {
  position: sticky;
  background-color: #bd2828;
  height: 100px;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;
}

.circle {
  font-size: 12px;
  border-radius: 50%;
  color: #000;
  background-color: greenyellow;
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  right: 60px;
  top: 57px;
}
